<a class="wrapper-banner" href="https://event.zarplata.ru/cityconf?utm_source=blog&utm_medium=banner"
    onclick="ym(77659420,'reachGoal','banner-main');">
    <iframe class="res-iframe" id="sidebar-banner" src="/assets/frames/conf-banner-main/index.html" frameborder="0"
        width="100%" height="100%" scrolling="no" style="pointer-events: none;">
    </iframe>
</a>