<div class="mobile-sidebar">
  <!-- Yandex.RTB R-A-3319353-14 -->
  <div class="wrapper-banner-home sidebar__sticky" id="yandex_rtb_R-A-3319353-14"></div>
  <script>
    window.yaContextCb.push(() => { Ya.Context.AdvManager.render({ "blockId": "R-A-3319353-14",
    "renderTo": "yandex_rtb_R-A-3319353-14" }) })
  </script>

  <!-- Yandex.RTB R-A-3319353-15 -->
  <div class="wrapper-banner-article sidebar__sticky" id="yandex_rtb_R-A-3319353-15"></div>
  <script>
    window.yaContextCb.push(() => { Ya.Context.AdvManager.render({ "blockId": "R-A-3319353-15",
    "renderTo": "yandex_rtb_R-A-3319353-15" }) })
  </script>

  <!-- Yandex.RTB R-A-3319353-11 -->
  <script>window.yaContextCb.push(() => {Ya.Context.AdvManager.render({"blockId":
    "R-A-3319353-11","type": "floorAd","platform": "touch"}) })
  </script>
</div>