<div class="mobile-sidebar">
  <!-- Yandex.RTB R-A-3319353-14 -->
  <div class="wrapper-banner-home sidebar__sticky" id="adfox_175008579442952350"></div>
  <script>
    window.yaContextCb.push(()=>{ Ya.adfoxCode.create({ ownerId: 400505, containerId:
    'adfox_175008579442952350', params: { pp: 'g', ps: 'jolf', p2: 'jmxu', puid1: '', puid2: '',
    puid3: '', puid4: '', puid5: '', puid6: '', puid7: '', puid8: '', puid9: '', puid10: '', puid11:
    '', puid12: '', puid13: '', puid14: '', puid15: '', puid16: '', puid17: '', puid18: '', puid19:
    '', puid20: '', puid21: '', puid22: '', puid23: '', puid24: '', puid25: '', puid26: '', puid27:
    '', puid28: '', puid29: '', puid30: '', puid31: '', puid32: '', puid33: '', puid34: '', puid35:
    '', puid36: '', puid37: '', puid38: '', puid39: '', puid40: '', puid41: '', puid42: '', puid43:
    '', puid44: '', puid45: '', puid46: '', puid47: '', puid48: '', puid49: '', puid50: '', puid51:
    '', puid52: '', puid53: '', puid54: '', puid55: '', puid56: '', puid57: '', puid58: '', puid59:
    '', puid60: '', puid61: '', puid62: '', puid63: '' } }) })
  </script>

  <!-- Yandex.RTB R-A-3319353-15 -->
  <div class="wrapper-banner-article sidebar__sticky" id="adfox_175008613181222350"></div>
  <script>
    window.yaContextCb.push(()=>{ Ya.adfoxCode.create({ ownerId: 400505, containerId:
    'adfox_175008613181222350', params: { pp: 'ggvu', ps: 'jolf', p2: 'jmxu', puid1: '', puid2: '',
    puid3: '', puid4: '', puid5: '', puid6: '', puid7: '', puid8: '', puid9: '', puid10: '', puid11:
    '', puid12: '', puid13: '', puid14: '', puid15: '', puid16: '', puid17: '', puid18: '', puid19:
    '', puid20: '', puid21: '', puid22: '', puid23: '', puid24: '', puid25: '', puid26: '', puid27:
    '', puid28: '', puid29: '', puid30: '', puid31: '', puid32: '', puid33: '', puid34: '', puid35:
    '', puid36: '', puid37: '', puid38: '', puid39: '', puid40: '', puid41: '', puid42: '', puid43:
    '', puid44: '', puid45: '', puid46: '', puid47: '', puid48: '', puid49: '', puid50: '', puid51:
    '', puid52: '', puid53: '', puid54: '', puid55: '', puid56: '', puid57: '', puid58: '', puid59:
    '', puid60: '', puid61: '', puid62: '', puid63: '' } }) })
  </script>
</div>