<div class="mobile-sidebar">
  <!-- Yandex.RTB R-A-3319353-12 -->
  <div class="wrapper-banner-home sidebar__sticky" id="yandex_rtb_R-A-3319353-12"></div>
  <script>
    window.yaContextCb.push(() => { Ya.Context.AdvManager.render({ "blockId": "R-A-3319353-12",
    "renderTo": "yandex_rtb_R-A-3319353-12" }) })
  </script>

  <!-- Yandex.RTB R-A-3319353-13 -->
  <div class="wrapper-banner-article sidebar__sticky" id="yandex_rtb_R-A-3319353-13"></div>
  <script>
    window.yaContextCb.push(() => { Ya.Context.AdvManager.render({ "blockId": "R-A-3319353-13",
    "renderTo": "yandex_rtb_R-A-3319353-13" }) })
  </script>

  <!-- Yandex.RTB R-A-3319353-11 -->
  <script>window.yaContextCb.push(() => {Ya.Context.AdvManager.render({"blockId":
    "R-A-3319353-11","type": "floorAd","platform": "touch"}) })
  </script>
</div>