<section class="posts-news desktop">
  <h1><a href="/tag/novosti/">Новости рынка труда</a></h1>
  {{#get "posts" filter=tag_filter order="published_at DESC" limit="5"}}
    {{#foreach posts to="6"}}
      <a href="{{url}}" title="{{title}}" aria-label="news">{{title}}</a>
    {{/foreach}}
  {{/get}}
</section>