{{!-- Site footer --}}
<footer class="footer">
  <div class="container-fluid wrapper footer-wrapper">
    <div class="footer__top">
      <div class="row" style="display: flex; justify-content: space-between; align-items: center; margin: 20px 0">
        <div class="">
          <a style="color: #0F5B95; text-decoration:underline"
            href="https://cdn.zp.ru/job/docs/Soglasie_na_obrabotku_PD_polzovateley.doc">Политика конфиденциальности</a>
        </div>
        <div class="" style="
          font-size: var(--font-size-base);
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          ">
          {{> social-media}}
        </div>
        <div class="" style="display: flex; justify-content: space-between; align-items: center;">
          <p style=" font-size: var(--font-size-base); font-weight: 400; line-height: 27px; letter-spacing: 0em; text-align: left; margin: 0">©
            2024 Зарплата.ру</p>
        </div>
      </div>
    </div>
  </div>
</footer>