{{!-- Site footer --}}
<footer class="footer">
  <div class="container-fluid wrapper footer-wrapper">
    <div class="footer-container">
      <div class="footer-container__block">
        <strong>Категории</strong>
        <a href="/tag/applicants/">Соискателям</a>
        <a href="/tag/employers/">Работодателям</a>
        <a href="/tag/faq/">Ответы на вопросы</a>
        <a href="/tag/zakony-i-pravo/">Законы и право</a>
        <a href="/tag/novosti/">Новости</a>
        <a href="/tag/poliezno/">Полезно</a>
      </div>
      <div class="footer-container__block">

        <strong>Зарплата.Журнал</strong>
        <a href="https://cdn.zp.ru/job/docs/Soglasie_na_obrabotku_PD_polzovateley.doc" href="_blank">Политика
          конфиденциальности</a>
        <a href="https://www.journal.zarplata.ru/about-us/">О проекте</a>

        <strong>Обратная связь</strong>
        <a>Сообщить о проблеме</a>
        <a href="https://pr.zarplata.ru/" href="_blank">Реклама и сотрудничество</a>

      </div>
      <div class="footer-container__block">
        <strong>Мы в социальных сетях</strong>
        <a href="https://vk.com/zarplataru" href="_blank">
          <img src="/assets/icons/vk.svg" alt="">
          <span>ВКонтакте</span>
        </a>
        <a href="https://t.me/zarplataru_zp" href="_blank">
          <img src="/assets/icons/tg.svg" alt="">
          <span>Telegram</span>
        </a>
        <a href="https://dzen.ru/zarplataru" href="_blank">
          <img src="/assets/icons/zen.svg" alt="">
          <span>Яндекс.Дзен</span>
        </a>
      </div>
    </div>
  </div>
</footer>