{{!-- Site footer --}}
<footer class="footer">
  {{#is "post"}}{{>share-links}}{{/is}}

  {{>scroll-to-top}}

  <div class="col-lg-20"></div>

  <div class="main row col-lg-60">
    <nav class="col-md-6 footer-container__block">
      <strong>Зарплата.Журнал</strong>
      <a href="https://cdn.zp.ru/job/docs/Soglasie_na_obrabotku_PD_polzovateley.doc" target="_blank">Политика
        конфиденциальности</a>
      <a href="https://www.journal.zarplata.ru/about-us/">О проекте</a>

      <strong>Обратная связь</strong>
      <a href="https://t.me/ZP_zarplata" target="_blank">Сообщить о проблеме</a>
      <a href="https://pr.zarplata.ru/" target="_blank">Реклама и сотрудничество</a>
    </nav>
    <nav class="col-md-6 footer-container__block">
      <strong>Мы в социальных сетях</strong>
      {{> social-media has_titles="true"}}
    </nav>
  </div>

  <div class="col-lg-20"></div>

  <!-- Service Worker for PWA -->
  <script>
    if (config.enable_pwa && 'serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js');
      });
    }
  </script>

</footer>