{{!-- Site footer --}}
<footer class="footer">
  {{#is "post"}}{{>share-links}}{{/is}}

  {{>scroll-to-top}}

  <div class="col-lg-20"></div>

  <div class="footer-container col-lg-60">
    <div class="footer-container__block">
      <strong>Зарплата.Журнал</strong>
      <a href="https://cdn.zp.ru/job/docs/Soglasie_na_obrabotku_PD_polzovateley.doc" target="_blank">Политика
        конфиденциальности</a>
      <a href="https://www.journal.zarplata.ru/about-us/">О проекте</a>

      <strong>Обратная связь</strong>
      <a href="/">Сообщить о проблеме</a>
      <a href="https://pr.zarplata.ru/" target="_blank">Реклама и сотрудничество</a>
    </div>
    <div class="footer-container__block">
      <strong>Мы в социальных сетях</strong>
      {{> social-media has_titles="true"}}
    </div>
  </div>

  <div class="col-lg-20"></div>

</footer>