{{!-- Post Access CTA --}}
<div class="post-reactions">
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt" id="r-like-button">
      <span>👍</span>
    </div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-like">0</div>
  </div>
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt" id="r-fire-button"><span>🔥</span>
    </div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-fire">0</div>
  </div>
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt" id="r-face-button">
      <span>😐</span>
    </div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-face">0</div>
  </div>
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt" id="r-poo-button"
      onclick="ym(77659420,'reachGoal','reactionPoo')"><span>💩</span>
    </div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-poo">0</div>
  </div>
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt" id="r-dislike-button">
      <span>👎</span>
    </div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-dislike">0</div>
  </div>
</div>