{{!-- Post Access CTA --}}
<div class="post-reactions">
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt">
      <span>👍</span>
    </div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-like">0</div>
  </div>
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt"><span>🔥</span></div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-fire">0</div>
  </div>
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt"><span>😐</span></div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-face">0</div>
  </div>
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt"><span>💩</span></div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-poo">0</div>
  </div>
  <div class="post-reactions__reaction">
    <div class="post-reactions__reaction-button rctbt"><span>👎</span></div>
    <div class="post-reactions__reaction-counter rctcnt" id="r-dislike">0</div>
  </div>
</div>