{{!-- Blog search --}}
<div class="search" id="search">
  <div class="search__header">
    <form action="/" method="get" class="search__form" id="search-form">
      <input type="text" id="ghost-search-field" class="search__input" 
        title="{{t "Search"}}" placeholder="Поиск..." autocomplete="off" required/>
      <div class="search__icon">
        {{>icon name="search" size="lg"}}
      </div>
    </form>
    <a tabindex="0" class="search--close" id="search-close">
      {{>icon name="x" size="lg"}}
    </a>
  </div>
  <div class="search-helper">
    {{#get "tags" limit="8" include="count.posts" order="count.posts desc"}}
      {{#foreach tags}}
        <div class="search__tag js-search-tag" tabindex="0" title="{{name}}">{{name}}</div>
      {{/foreach}}
    {{/get}}
  </div>
  <div class="search-content">
    <div class="search-result" id="ghost-search-results">
      <a href="/most-annoying-phrases-in-job-postings" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Самые раздражающие фразы в вакансиях</h5><p class="search-result__date">09 Apr 2024</p></div></a><a href="/the-most-prospective-areas-for-employment-in-spring-2022" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Наиболее перспективные сферы для трудоустройства весной 2022</h5><p class="search-result__date">22 Mar 2022</p></div></a><a href="/does-russia-need-labor-unions" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Нужны ли России профсоюзы, и как эти организации борются с гендерным неравенством</h5><p class="search-result__date">05 Jun 2023</p></div></a><a href="/seven-factors-that-slow-down-a-career" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Почему не дают повышение? Семь факторов, которые тормозят карьеру</h5><p class="search-result__date">21 Aug 2024</p></div></a><a href="/facts-about-different-professions" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Трушный художник всегда в перчатках: неочевидные факты о разных профессиях</h5><p class="search-result__date">10 Jul 2023</p></div></a><a href="/career-therapist-talks-about-finding-yourself" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">«Креативность и умение учиться — главные козыри»: профориентолог рассказывает о поисках себя</h5><p class="search-result__date">31 Mar 2023</p></div></a>
    </div>
  </div>
</div>
