{{!-- Blog search --}}
<div class="search" id="search">
  <div class="search__header">
    <form action="/" method="get" class="search__form" id="search-form">
      <input type="text" id="ghost-search-field" class="search__input" 
        title="{{t "Search"}}" placeholder="Поиск..." autocomplete="off" required/>
      <div class="search__icon">
        {{>icon name="search" size="lg"}}
      </div>
    </form>
    <a tabindex="0" class="search--close" id="search-close">
      {{>icon name="x" size="lg"}}
    </a>
  </div>
  <div class="search-helper">
    {{#get "tags" limit="8" include="count.posts" order="count.posts desc"}}
      {{#foreach tags}}
        <div class="search__tag js-search-tag" tabindex="0" title="{{name}}">{{name}}</div>
      {{/foreach}}
    {{/get}}
  </div>
  <div class="search-content">
    <div class="search-result" id="ghost-search-results">
      <a href="/a-hit-parade-of-bizarre-job-interviews" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Хит-парад странных собеседований</h5><p class="search-result__date">19 Jul 2024</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2024/07/26-----.png"></a><a href="/stop-working-if-youre-sick" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Хватит работать, если заболел</h5><p class="search-result__date">21 Sep 2021</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2021/09/giphy-_18_--1-.gif"></a><a href="/im-afraid-to-come-back-to-work-from-maternity-leave" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Я боюсь выходить из декрета</h5><p class="search-result__date">23 Nov 2021</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2021/11/sai-de-silva-YLMs82LF6FY-unsplash.jpg"></a><a href="/office-games" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Игры для офиса: пятничный хит-парад</h5><p class="search-result__date">23 Sep 2022</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2022/09/---------1.png"></a><a href="/how-to-keep-a-work-life-balance-in-a-remote-job" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Как сохранить баланс «работа-жизнь» на удалёнке</h5><p class="search-result__date">12 Oct 2022</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2022/10/10----.png"></a><a href="/what-happens-in-the-labor-market-in-the-fall-of-2022" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Что происходит на рынке труда осенью 2022-го</h5><p class="search-result__date">28 Oct 2022</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2022/10/----------1.jpg"></a><a href="/where-is-the-boundary-between-personal-and-working-relationships" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Где проходит граница между личными и рабочими отношениями</h5><p class="search-result__date">10 Nov 2021</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2021/11/sigmund-Im_cQ6hQo10-unsplash.jpg"></a><a href="/works-without-days-off" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Охранник на Тайване умер после 42 дней работы без выходных</h5><p class="search-result__date">29 Sep 2023</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2023/09/2--42-.png"></a><a href="/how-i-wanted-to-quit-but-my-manager-wouldnt-let-me-go" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Как я хотела уволиться, а руководитель меня не отпускал</h5><p class="search-result__date">07 Jul 2022</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2022/07/2-------------------------------------.png"></a><a href="/why-do-they-want-to-fire-me-im-a-pro" class="search-result__post animate fade-in-up"><div class="search-result__content"><h5 class="search-result__title">Почему меня хотят уволить? Я же крутой спец!</h5><p class="search-result__date">08 Sep 2021</p></div><img class="search-result__image" src="https://www.journal.zarplata.ru/content/images/2021/09/jonas-stolle-6rhdGmD6wfw-unsplash.jpg"></a></div>
  </div>
</div>
