<div class="share-button">
  <div class="share-button--primary share-button__image-wrapper" id="share-socials-button">
    <img src="{{asset 'icons/share.svg'}}" alt="" />
  </div>
  <div class="share-button__socials desktop" id="share-socials" style="display: none">
    <a href="#" id="wpShare">
      <img src="{{asset 'icons/whatsapp.svg'}}" alt="" />
    </a>
    <a href="#" id="vkShare"><img src="{{asset 'icons/vk-share.svg'}}" alt="" /></a>
    <a href="#" id="tgShare"><img src="{{asset 'icons/tg-share.svg'}}" alt="" /></a>
  </div>
</div>