{{! VK }}
<a
  href="https://vk.com/zarplataru"
  target="_blank"
  title="Вконтакте"
  onclick="ym(77659420,'reachGoal','clickSocial'); return true;"
  aria-label="Вконтакте"
  rel="noreferrer"
>
  <img src="{{asset 'icons/vk.svg'}}" alt="" />{{#if has_titles}}<span>Вконтакте</span>{{/if}}
</a>
{{! Telegram }}
<a
  href="https://t.me/zarplataru_zp"
  target="_blank"
  title="Telegram"
  onclick="ym(77659420,'reachGoal','clickSocial'); return true;"
  aria-label="Telegram"
  rel="noreferrer"
>
  <img src="{{asset 'icons/tg.svg'}}" alt="" />{{#if has_titles}}<span>Telegram</span>{{/if}}
</a>
{{! Dzen }}
<a
  href="https://dzen.ru/zarplataru"
  target="_blank"
  title="Дзен"
  onclick="ym(77659420,'reachGoal','clickSocial'); return true;"
  aria-label="Дзен"
  rel="noreferrer"
>
  <img src="{{asset 'icons/zen.svg'}}" alt="" />{{#if has_titles}}<span>Яндекс.Дзен</span>{{/if}}
</a>

{{#if has_b2b}}
  {{! Journal Zarplata }}
  <a
    class="social-links__item journal"
    href="https://www.journal.zarplata.ru/"
    target="_blank"
    title="Зарплата.Журнал"
    onclick="ym(77659420,'reachGoal','clickSocial'); return true;"
    aria-label="Зарплата Журнал"
    rel="noreferrer"
  >
    <img src="{{asset 'icons/zp-blog.svg'}}" alt="" />{{#if has_titles}}<span
      >Зарплата.ру</span>{{/if}}
  </a>
{{/if}}