{{!< default}} {{!-- Page 404 --}} <div class="container-fluid wrapper">

  <div class="error">

    <div class="error__content">

      <div class="error__info">
        <h1 class="error__title">404</h1>

        <div class="error_description">
          <h2 class="error_description__unfound">Хм... Такой статьи <br>не существует</h2>
          <h2 class="error_description__call-to-action">Но есть много других материалов</h2>
        </div>

        <button class="btn btn--primary btn--error" onclick="document.location='/'">На главную</button>
      </div>

      <div class="error__image">
        <img src="{{asset 'images/404.png'}}">
      </div>
    </div>

    <button class="btn btn--primary btn--wide__error" onclick="document.location='/'">На главную</button>

    {{>mobile-slider tag_filter="primary_tag:employers"}}

    <div class="error__recommend">
      {{#get "posts" limit="6" include="tags,authors" limit=@config.posts_per_page}}
      <section class="section all-posts">
        <div class="row posts">
          {{#foreach posts}}
          <div class="col-xs-12 col-md-6 post-wrap">
            {{> post-card class="col"}}
          </div>
          {{/foreach}}
        </div>
      </section>
      {{/get}}

    </div>
  </div>
  </div>