{{!< default}} {{!-- <div>
  </div> --}}

  {{>destop-news tag_filter="primary_tag:novosti"}}

  {{>mobile-slider tag_filter="primary_tag:applicants"}}

  <section class="row posts">
    {{#foreach posts from="1" to="4"}}
    <div class="col-xs-12 col-md-6 post-wrap">
      {{> post-card class="col--main"}}
    </div>
    {{/foreach}}
  </section>

  {{>mobile-slider tag_filter="primary_tag:employers"}}

  <section class="row posts">
    {{#foreach posts from="5" to="6"}}
    <div class="col-xs-12 col-md-6 post-wrap">
      {{> post-card class="col"}}
    </div>
    {{/foreach}}
  </section>
  
  <section class="row posts">
    {{#foreach posts from="7" to="14"}}
    <div class="col-xs-12 col-md-6 post-wrap">
      {{> post-card class="col"}}
    </div>
    {{/foreach}}
  </section>

  <button id="load-more-posts" class="btn btn--wide btn--primary">
    Показать&nbsp;больше&nbsp;статей
  </button>

  <span class="button-spinner" id="button-spinner">
    <img src="/assets/icons/spinner.svg" alt="">
  </span>