{{!< default}} {{!-- Everything inside the #post tags pulls data from the post --}} {{!--<div>
  </div>--}}

  {{#post}}
  {{> post-hero}}
  <article class="{{post_class}} post-access-{{visibility}} has-sidebar">
    <div class="post__content">
      {{#if access}}
      {{content}}
      {{/if}}
    </div>

    {{#if access}}
    <div class="post-width">
      {{>reactions}}

      {{!-- форма обратной связи --}}
      <div class="post__feedback-form">
        <p class="post__feedback-form-title">Поделитесь историей</p>
        <p class="post__feedback-form-desc">Про работу, собеседования, нарушения ваших трудовых прав, HR-кейсы</p>
        {{!-- <form href="https://t.me/ZP_zarplata" target="_blank"> --}}
          <button class="btn btn--boxed btn--secondary" onClick="window.open('https://t.me/ZP_zarplata');">
            Связаться с нами </button>
          {{!--
        </form> --}}
      </div>
    </div>
    {{/if}}
  </article>
  {{!-- Related posts --}}
  <div class="mobile">
    {{> related-posts mobile=true}}
  </div>
  <div class="col-xs col-lg-4 col-xl-3 has-sidebar md">
    {{> mobile-sidebar}}
  </div>


  {{!-- Related posts --}}
  <div class="desktop">

    {{> related-posts}}
  </div>
  <span id="site_url" style="visibility: hidden; height: 0px;">{{url}}</span>

  {{/post}}