{{!< default}} {{!-- Everything inside the #tag pulls data from the tag --}} {{!-- Tag header --}} {{#tag}} <section
  class="tag-header no-img">

  <div class="tag-header__content tag-h-{{slug}}">
    <h1 class="tag-header__title">{{name}}</h1>
  </div>
  </section>
  {{/tag}}

  {{!-- The main content/post by the author --}}
  {{#if posts}}
  <div class="row">
    <div class="col-xs-12">
      <section class="section all-posts">
        {{!-- posts --}}
        <div class="row posts">
          {{#foreach posts from="1"}}
          <div class="col-xs-12 col-md-6 post-wrap">
            {{> post-card class="col tag"}}
          </div>
          {{/foreach}}
        </div>
        {{!-- spinner --}}
        <span class="button-spinner" id="button-spinner"></span>
      </section>
      <button id="load-more-posts" class="btn btn--wide btn--primary">
        Показать&nbsp;больше&nbsp;статей
      </button>
    </div>
  </div>
  {{/if}}