/* Dark theme */
[data-color-scheme="dark"] {
  --color-text: var(--color-light);
  --color-text-accent-1: var(--color-light-accent);
  --color-text-accent-2: var(--color-grey-lighter);
  --color-text-accent-3: var(--color-grey-light);
  --color-text-reverse: var(--color-dark);
  --color-bg: var(--color-dark);
  --color-bg-accent-1: var(--color-dark-accent);
  --color-bg-accent-2: var(--color-dark-accent-2);
  --color-bg-accent-3: var(--color-grey-darker);
  --color-bg-reverse: var(--color-light);
  --color-border: var(--color-border-dark);

  --color-card: #18160b;
  --color-card-light: #272727;
  --color-divider: #18160b;
  --color-bg-input: var(--color-grey-darker);

  #theme-light {
    visibility: visible;
    opacity: 1;
  }

  .post-card,
  .post-hero {
    &__author-image,
    &__author-icon {
      @mixin attention {
        box-shadow: 0 0 1px 3px var(--color-secondary),
          0 0 1px 6px color(var(--color-secondary) blend(var(--color-dark) 50%));
      }
    }
  }

  .author-card {
    &__image {
      @mixin attention {
        box-shadow: 0 0 0 5px
          color(var(--color-secondary) blend(var(--color-dark) 50%));
      }
    }
  }

  .post-hero__tag:hover {
    color: #fff !important;
  }

  .post-card__tag:hover {
    color: #fff !important;
  }

  .header__nav {
    li a {
      color: #fff;
    }

    li a:hover {
      color: #000;
    }
  }

  .header_all-themes {
    .tag > a:hover {
      color: #fff;
    }
  }

  .btn--brand:hover {
    color: #000;
  }

  .btn {
    color: var(--color-dark);
  }

  .btn:hover {
    color: var(--color-light);
  }

  .subscribe__popup-button {
    color: #000;
  }

  .search-bar {
    background-color: #272727;
  }

  .search-bar-placeholder {
    color: #acacac;
  }
}
