/* Dark theme */
[data-color-scheme="dark"] {
  --color-text: var(--color-light);
  --color-text-accent-1: var(--color-light-accent);
  --color-text-accent-2: var(--color-grey-lighter);
  --color-text-accent-3: var(--color-grey-light);
  --color-text-reverse: var(--color-dark);
  --color-bg: var(--color-dark);
  --color-bg-accent-1: var(--color-dark-accent);
  --color-bg-accent-2: var(--color-dark-accent-2);
  --color-bg-accent-3: var(--color-grey-darker);
  --color-bg-reverse: var(--color-light);
  --color-border: var(--color-border-dark);

  --color-card: #18160b;
  --color-card-light: #272727;
  --color-divider: #18160b;


  #theme-light {
    visibility: visible;
    opacity: 1;
  }

  table,
  tbody,
  tr,
  td {
    border-color: #fff !important;
    color: #fff !important;

    p,
    span {
      color: #fff !important;
    }
  }

  .header__logo-wrapper {
    background-color: var(--color-bg);
  }

  .header__logo,
  .header__logo-dark {
    width: 150px;
    height: 35px;
  }

  .header__logo {
    display: none !important;
  }

  .header__logo-dark {
    display: block !important;
  }

  .tag-header__title {
    color: #222;
  }

  .post-hero__tag:hover {
    color: #fff !important;
  }

  .post-card__tag:hover {
    color: #fff !important;
  }

  .header__nav {
    li a {
      color: #fff;
    }

    li a:hover {
      color: #000;
    }
  }

  .header_all-themes {
    .tag>a:hover {
      color: #fff;
    }
  }

  .nav-all-themes a:hover {
    color: #fff !important;
  }

  .btn--brand:hover {
    color: #000;
  }

  .btn {
    color: var(--color-text-reverse);

    &--secondary {
      background-color: #6B6B6B;
      color: var(--color-text);

      &:hover,
      &:active {
        color: var(--color-text-reverse);
        background-color: #FFE000;
      }
    }
  }

  .subscribe__popup-button {
    color: #000;
  }

  .search-bar {
    background-color: #272727;
  }

  .search-bar-placeholder {
    color: #acacac;
  }

  .sidebar__description input {
    background-color: #6B6B6B;
    color: #ACACAC;
  }

  ::placeholder {
    color: #ACACAC;
  }

  blockquote,
  .blockquote-img {
    background-color: var(--color-bg-accent-1);
    color: var(--color-text)
  }

  .kg-card {
    background-color: var(--color-bg-accent-1) !important;
    color: var(--color-text) !important;

    .kg-callout-text {
      color: var(--color-text) !important;
    }
  }
}

.mobile-menu__about-logo {
  background-color: #fff;
}