/* Html & Body */
html, body {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans-serif);
  line-height: var(--line-height-base);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -webkit-hyphens: var(--global-hyphens);
  -ms-hyphens: var(--global-hyphens);
  hyphens: var(--global-hyphens);
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

[data-color-scheme="light"] {
  #theme-dark {
    visibility: visible;
    opacity: 1;
  }
}

@media (print), (prefers-reduced-motion: reduce) { 
  body {
    --animation-duration: 1ms;
  }
}

@media (min-width: 767px) {
  .desktop {
    display: inherit;
  }
  .mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inherit;
  }
}

.swiper {
  height: 100%;
}

.swiper-slide {
  width: 304px;
  background-color: var(--color-card);
  border-radius: 26px;
  height: auto !important;
}
.swiper-content {
  height: 100% !important
}

.explanation {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.md {
  display: none;
  @media (max-width: 970px) {
    display: unset;
  }
}

.lg {
  display: none;
  @media (min-width: 971px) {
    display: unset;
  }
}