/* Footer */
.footer {
  display: flex;
  color: var(--color-text-accent-2);
  font-size: 20px;
  font-family: var(--font-family-secondary);
  margin-top: 20px;

  strong {
    color: var(--color-bg-reverse);
  }

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;

    &__block {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: var(--gap);
    }

    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    img {
      margin: 0 16px 0 0;
      height: 30px;
      width: 30px;
      position: relative;
      top: 10px;
    }
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.footer-wrapper {
  display: none;

  @media (min-width: 971px) {
    display: block;
  }
}