/* Footer */
.footer {
  background-color: var(--color-card);
  @media (max-width: 767px) {
    display: none;
  }

  color: var(--color-text-accent-2);

  &-container {
    display: flex;
    flex-direction: row;
    padding: 64px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    &__block {
      display: flex;
      flex-direction: column;
      width: 396px;
      gap: 16px;
    }

    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    img {
      margin: 0 16px 0 0;
      height: 30px;
      width: 30px;
      position: relative;
      top: 10px;
    }
  }
}

.footer-wrapper {
  display: none;
  @media (min-width: 971px) {
    display: block;
  }
}
