/* Header */
.header {
  /* position: fixed; */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-card);
  z-index: 50;

  &__logo {
    @media (--viewport-md) {
      height: 35px;
    }
  }
  &__logo-dark{
    display: none;
    @media (--viewport-md) {
      height: 35px;
    }
  }

  &__logo-wrapper {
    background-color: #fff;
    padding: 0px var(--gap-sm);
    border-radius: 37px;
    display: flex;
  }

  &.is-scrolled {
    /* .header__brand h3 { font-size: calc(2.2 * var(--font-size-base)); }
    .header__brand img { max-height: calc(2 * var(--font-size-base)); } */
    .header__nav ul {
      height: 0px;
      overflow: hidden;
      border-bottom: 0px;
    }
  }

  &__member {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  &__search,
  &__theme,
  &__member {
    padding: 3px;
  }

  &__search,
  &__theme {
    padding-left: 0px;
  }

  &__search,
  &__theme {
    display: inline-flex;
  }

  &__brand {
    min-height: 50px;
    display: flex;
    height: 91px;
    justify-content: center;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    img {
      margin: var(--gap-sm) 0;
      max-height: calc(1.8 * var(--font-size-base));
      transition: max-height var(--animation-duration) var(--animation-name);

      @media (--viewport-md) {
        max-height: calc(2.5 * var(--font-size-base));
      }
    }

    h3 {
      margin: 0;
      font-size: calc(2 * var(--font-size-base));
      transition: font-size var(--animation-duration) var(--animation-name);
      line-height: 1.2;

      @media (--viewport-md) {
        font-size: calc(3 * var(--font-size-base));
      }
    }
  }

  &__menu {
    &--open {
      display: block;
      width: 20px;
      height: 20px;
      overflow: visible;
      cursor: pointer;
      background: transparent;
      padding: 0;
      margin: 0;
      margin-left: var(--gap-xs);

      @media (--viewport-md) {
        display: none;
      }

      span {
        position: relative;
        display: block;
        right: 0;
        height: 2px;
        width: 20px;
        background-color: var(--color-text);

        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: inherit;
          display: block;
          right: 0;
          height: 2px;
          transition: width var(--animation-duration) var(--animation-name);
        }

        &:before {
          width: 80%;
          top: calc(-0.5 * var(--gap));
        }

        &:after {
          width: 60%;
          top: calc(0.5 * var(--gap));
        }
      }
    }
  }

  &__bottom {
    display: none;

    @media (--viewport-md) {
      border-top: 1px solid var(--color-divider);
      display: block;
      overflow: hidden;
    }
  }

  &_all-themes {
    display: block;
    transition: max-height .4s ease-in-out .05s, opacity 0.5s cubic-bezier(0.4, 0, 1, 1) .005s;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;

    background-color: var(--color-bg);
    
    @media (max-width: 768px) {
      display: none !important;
    }


    &.show {
      max-height: 120px;
      opacity: 1;
      
      
      @media (max-width: 768px) {
        display: none !important;
      }
    }

    .wrapper{
      display: flex;
      padding-top: 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .row
    {
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 32px;
      overflow: hidden;
    }

    .tag {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 8px;

      & > a {
        font-weight: 600;
        font-size: 12px;
      }

      &:not(:last-child) {
        margin-right: 10px;

        @media (--viewport-md) {
          margin-right: 8px;
        }

        @media (--viewport-lg) {
          margin-right: 10px;
        }
      }
    }

    /* group 1 */
    .tag-ishchu-rabotu,
    .tag-rabota-v-komandie,
    .tag-rabota-v-ofisie,
    .tag-rabota-i-siemia,
    .tag-applicants,
    .tag-chieloviek-diela {
      background-color: #cd8cff !important;
      color: #222222;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #cd8cff !important;
      }
    }

    /* group 2 */
    .tag-employers,
    .tag-biznies,
    .tag-ishchu-sotrudnika,
    .tag-rukovodstvo {
      background-color: #ffe000 !important;
      color: #222222;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #ffe000 !important;
      }
    }

    /* group 3 */
    .tag-diekriet,
    .tag-rieziumie,
    .tag-sobiesiedovaniie,
    .tag-uvolnieniie,
    .tag-frilans,
    .tag-udalionka,
    .tag-frilance {
      background-color: #ff84a9 !important;
      color: #222222;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #ff84a9 !important;
      }
    }

    /* group 4 */
    .tag-kariernyie-soviety,
    .tag-obrazovaniie,
    .tag-poliezno,
    .tag-students,
    .tag-u-mienia-vykhodnoi {
      background-color: #57ee81 !important;
      color: #222222;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #57ee81 !important;
      }
    }

    /* group 5 */
    .tag-zakony-i-pravo,
    .tag-webinar,
    .tag-interview,
    .tag-novosti,
    .tag-faq {
      background-color: #70d6ff !important;
      color: #222222;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #70d6ff !important;
      }
    }
  }

  &__theme {
    &--toggle {
      visibility: hidden;
      opacity: 0;
    }

    #theme-light {
      margin-left: -20px;
    }
  }

  &__nav {
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: var(--font-weight-medium);
      border-top: none !important;
      border-bottom: 1px solid var(--color-border);
    }

    li {
      transition: box-shadow var(--animation-duration) var(--animation-name);
      color: #000000;

      font-size: 13px;
      font-weight: 600;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;

      border: 1px #efefef solid;
      border-radius: 25px;

      margin: 22px 0;
      margin-right: 16px;
    }

    li:not(:hover) {
      box-shadow: none;
    }

    li:last-child::before {
      content: "• ";
    }

    li a {
      display: block;
      cursor: pointer;
      padding: 5px 13px;
      text-decoration: none;
      transition: 0.2s;
    }

    .nav-applicants:hover {
      background-color: #f4f4f4;
      border: 1px #f4f4f4 solid;
      transition: 0.2s;
    }

    .nav-employers:hover {
      background-color: #f4f4f4;
      border: 1px #f4f4f4 solid;
      transition: 0.2s;
    }

    .nav-soiskatieliam:hover {
      background-color: #cd8cff;
      border: 1px #cd8cff solid;
      transition: 0.2s;
    }

    .nav-rabotodatieliam:hover {
      background-color: #ffe000;
      border: 1px #ffe000 solid;
      transition: 0.2s;
    }

    .nav-all-themes {
      margin-right: 0;
      display: flex;
      align-items: center;
      padding: 5px 13px;
      transition: 0.2s;

      

      @media (max-width: 768px) {
        display: none !important;
      }
    }

    .nav-all-themes a {
      padding: 0;
      padding-left: 8px;
      transition: 0.2s;
    }


    .nav-all-themes:hover,
    .nav-all-themes:active {
      background-color: #000000;
      color: #fff;
      transition: 0.2s;
    }
  }

  &__search--open,
  &__theme--toggle,
  &__member--open {
    cursor: pointer;
    color: var(--color-text-accent-2);
  }
}

#progress {
  --scroll: 0%;
  background: linear-gradient(
    to right,
    var(--color-primary) var(--scroll),
    transparent 0
  );
  position: relative;
  width: 100%;
  height: 3px;
  z-index: 10;
}

.search-bar {
  background-color: #efefef;
  padding: 11px 14px 11px 14px;
  width: 396px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

@media (min-width: 1440px) {
  .search-bar {
    width: 396px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .search-bar {
    width: 370px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .search-bar {
    width: 301px;
  }
}

@media (min-width: 769px) and (max-width: 795px) {
  .search-bar-placeholder {
    font-size: 16px !important;
  }
}

@media (max-width: 768px) {
  .search-bar {
    background-color: inherit !important;
    padding: 0;
    width: auto;
  }

  .search-bar-placeholder {
    display: none;
  }
}

.search-top {
  margin-right: 14px;
}

.search-bar-placeholder {
  font-size: 18px;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #505050;
}

.wrapper-banner {
  display: block;
  position: relative;
  height: 140px;
  margin-bottom: 32px;
}
.wrapper-banner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1238px) {
  .wrapper-banner {
    height: 165px;
  } 
}

@media (max-width: 1052px) {
  .wrapper-banner {
    height: 181px;
  } 
}


@media (max-width: 810px) {
  .wrapper-banner {
    height: 395px;
  } 
}

@media (max-width: 463px) {
  .wrapper-banner {
    height: 430px;
  }
}
