/* Menu */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transform: scale(0.95);
  background: var(--color-bg);
  transition: transform var(--animation-duration)
      cubic-bezier(0.785, 0.135, 0.15, 0.86),
    opacity var(--animation-duration) cubic-bezier(0.86, 0, 0.07, 1),
    z-index var(--animation-duration) step-end;

  &.is-active {
    z-index: 100;
    opacity: 1;
    overflow-y: scroll;
    transform: scale(1);
    transition: transform var(--animation-duration)
        cubic-bezier(0.785, 0.135, 0.15, 0.86),
      opacity var(--animation-duration) cubic-bezier(0.86, 0, 0.07, 1),
      z-index var(--animation-duration) step-start;
  }

  &--close {
    margin-top: var(--gap);
    padding: var(--gap-sm);
    background-color: var(--color-bg-accent-2);
    color: var(--color-text);
    border-radius: var(--global-radius-rounded);

    @mixin attention {
      outline: none;

      .icon {
        color: var(--color-primary);
      }
    }

    .icon {
      color: var(--color-grey-dark);
      transition: color var(--animation-duration) var(--animation-name);
    }
  }

  &__main,
  &__secondary {
    margin: var(--gap) 0;
  }

  h5 {
    margin-bottom: 0.1em;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      padding: var(--gap);
      margin-bottom: var(--gap-sm);
      color: var(--color-text-accent-2);
      background-color: var(--color-bg-accent-1);
      border-radius: var(--global-radius);
      text-align: center;

      @mixin attention {
        color: var(--color-primary);
      }
    }
  }

  .menu__main .nav a {
    color: var(--color-text-accent-1);
    background-color: var(--color-bg-accent-2);

    @mixin attention {
      color: var(--color-primary);
    }
  }
}

.mobile-menu {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }

  &__tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

  &__tag {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    padding: 6px 16px;
    border-radius: 32px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__external {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
  }

  &__external-link {
    background-color: #EEF0F4;
    padding: 16px;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 12px;

    &:first-child {
      margin-bottom: 18px;
    }
  }

  &__desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
  }

  &__policy {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .applicants {
    background-color: #cd8cff;
  }

  .employers {
    background-color: #FFE000;
  }

  .career {
    background-color: #57EE81;
  }
  
  .news {
    background-color: #70D6FF;
  }

}
