/* Menu */
.menu {
  &--close {
    margin-top: var(--gap);
    padding: var(--gap-sm);
    cursor: pointer;
    background-color: var(--color-bg-accent-2);
    color: var(--color-text);
    border-radius: var(--global-radius-rounded);
    box-shadow: 0 0 0 1px var(--color-bg-accent-2);
    transition: box-shadow var(--animation-duration) var(--animation-name);

    @mixin attention {
      outline: none;
      box-shadow: 0 0 0 1px var(--color-primary);
      transition: box-shadow var(--animation-duration) var(--animation-name);

      .icon {
        color: var(--color-primary);
      }
    }

    .icon {
      color: var(--color-grey-dark);
      transition: color var(--animation-duration) var(--animation-name);
    }
  }

  &__main,
  &__secondary {
    margin: var(--gap) 0;
  }

  h5 {
    margin-bottom: 0.1em;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      padding: var(--gap);
      margin-bottom: var(--gap-sm);
      color: var(--color-text-accent-2);
      background-color: var(--color-bg-accent-1);
      border-radius: var(--global-radius);
      text-align: center;

      @mixin attention {
        color: var(--color-primary);
      }
    }
  }

  .menu__main .nav a {
    color: var(--color-text-accent-1);
    background-color: var(--color-bg-accent-2);

    @mixin attention {
      color: var(--color-primary);
    }
  }
}

.mobile-menu {
  &__tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

  &__tag {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    padding: 6px 16px;
    border-radius: 32px;

    color: var(--color-dark) !important;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__external {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 0;

    .btn--secondary {
      background-color: var(--color-bg-accent-1);
      margin: 0px;

      &:hover,
      &:active {
        background-color: #FFE000;
      }
    }

  }

  &__external-link {
    background-color: var(--color-bg-accent-1);
    padding: 16px;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 12px;

    &:first-child {
      margin-bottom: 18px;
    }
  }

  &__desc {
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
  }

  &__policy {
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .applicants {
    background-color: #cd8cff;
  }

  .employers {
    background-color: #FFE000;
  }

  .career {
    background-color: #57EE81;
  }

  .news {
    background-color: #70D6FF;
  }

  &__about-logo {
    /* background-color: #fff; */
    padding: 16px;
    display: flex;
    border-radius: 37px;
    margin-bottom: 32px;

    img {
      margin-bottom: 0;
    }

    a {
      display: flex;
    }
  }
}