/* Page */
.page__header {
  margin: var(--gap-lg) 0;
  text-align: center;
}


/* 404 страница */
/* Очень плохой код - переделать */
.error {
  &__content {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-height: 600px;

    padding: var(--gap-lg);
    margin: var(--gap-lg) 0;

    background-color: var(--color-bg-accent-1);
    border: 1px solid var(--color-border);
    border-radius: 26px;

    @media (max-width: 576px) {
      max-height: 700px;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column-reverse;
      align-content: space-between;
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;

    max-width: 420px;

    margin-left: 32px;

    @media (max-width: 576px) {
      margin-left: 0px;
    }
  }

  &__title {

    font-family: var(--font-family-sant-serif);
    font-weight: 700;
    font-size: 96px;
    margin: 0px !important;

    @media (max-width: 576px) {
      display: none;
    }
  }

  &_description {

    margin: 90px 0px;

    @media (max-width: 576px) {
      margin: 32px 0;
    }

    &__unfound {
      font-family: var(--font-family-sant-serif);
      line-height: 52px;
      font-weight: 700;
      font-size: 40px;
      padding-bottom: 32px;
      margin: 0px !important;


      @media (max-width: 576px) {
        padding-bottom: 16px;
        font-size: 28px;
        line-height: 28.6px;
      }
    }

    &__call-to-action {
      font-family: var(--font-family-secondary);
      font-weight: 400;
      font-size: 20px;
      margin: 0px !important;

      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
  }

  &__image {
    flex: 1;
    pointer-events: none;

    @media (max-width: 576px) {
      display: block !important;
      max-width: 400px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

}