.post {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-text);
    color: var(--color-text-accent-1);
    margin-top: 30px;

    @media (--viewport-md) {
      img {
        border-radius: var(--global-radius);
      }
    }

    > * {
      min-width: 100%;
    }

    details {
      max-width: 100%;
    }

    a:not(.btn):not(.kg-bookmark-container) {
      color: var(--color-primary);

      @mixin attention {
        text-decoration: underline;
      }
    }

    h1,
    h2,
    h3,
    h4 {
      scroll-margin-top: 8rem;
      scroll-snap-margin-top: 8rem;
      outline: none;

      @media (--viewport-md) {
        scroll-margin-top: 4rem;
        scroll-snap-margin-top: 4rem;
      }
    }
  }
}

.post.has-toc .post__content {
  display: block;
}

.post-sneak-peek {
  position: relative;
  user-select: none;

  &.fading:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80%;
    background: linear-gradient(transparent, var(--color-bg) 85%);
  }
}

.post-access-cta {
  width: 100%;
  padding: var(--gap);
  margin-bottom: var(--gap-lg);
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--global-radius);

  @media (--viewport-md) {
    padding: var(--gap-lg);
  }

  h3 {
    text-align: center;
    color: var(--color-dark);
    margin: 0 0 var(--gap);
  }

  .small {
    font-size: calc(0.9 * var(--font-size-base));
    color: var(--color-grey-darker);
  }
}

/* Post Hero */

.post-hero__image-wrapper {
  width: 100%;
  /* flex: 0 0 55%; */
}

.post-hero__image-caption {
  text-align: center;
  font-size: 0.85em;
  font-style: italic;
  font-weight: bold;
  color: #666;
}

.post-hero {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: var(--global-radius);

  @mixin attention {
    .special-bg {
      left: 5%;
      border-radius: 55% 45% 45% 55%/55% 55% 45% 45%;
      transition: border-radius var(--animation-duration-lg) var(--animation-name),
        left var(--animation-duration-lg) var(--animation-name);
    }
  }

  @media (--viewport-md) {
    flex-direction: row-reverse;
  }

  &.page {
    .post-hero__title {
      margin-bottom: 0;
    }

    .post-hero__header,
    .post-hero__footer {
      display: none;
    }
  }

  &.no-img {
    background-color: transparent;

    @media (--viewport-md) {
      &.featured {
        @mixin overlay-colored;
      }
    }

    .post-hero__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;

      @media (--viewport-md) {
        max-width: 70%;
        padding: 0;
      }
    }

    .post-hero__title {
      text-align: center;
    }
  }

  &.featured {
    @media (--viewport-md) {
      min-height: calc(30 * var(--gap));

      .post-hero__title {
        text-align: center;
        color: var(--color-light);
      }

      .post-hero__header {
        justify-content: center;
      }

      .post-hero__tag {
        color: var(--color-grey-lighter);
        border-color: var(--color-grey-lighter);

        @mixin attention {
          color: var(--color-light);
          border-color: var(--color-light);
        }
      }

      .post-hero__date {
        color: var(--color-grey-lighter);
      }
    }

    .post-hero__image {
      @media (--viewport-md) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        max-height: 60vh;

        @mixin overlay-colored;
      }
    }

    .post-hero__content {
      @media (--viewport-md) {
        padding: 0;
        max-width: 80%;
      }

      @media (--viewport-lg) {
        max-width: 70%;
      }

      @media (--viewport-xl) {
        max-width: 60%;
      }
    }

    .post-hero__details {
      @media (--viewport-md) {
        justify-content: center;
      }
    }
  }

  &__image {
    margin: 0;
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
    border-radius: 26px;

    @media (--viewport-md) {
      height: 50vh;
      min-height: calc(28 * var(--gap));
      flex: 0 0 55%;
    }

    @mixin attention {
      img {
        transform: scale(1.04);
        transition: transform var(--animation-duration) var(--animation-name);
      }
    }

    img {
      width: 100%;
      height: 100%;
      min-width: 100%;
      margin: 0;
      object-fit: cover;
      object-position: center;
      transition: transform var(--animation-duration) var(--animation-name);
      border-radius: var(--global-radius);

      @media (--viewport-md) {
        height: 100%;
        min-width: auto;
      }
    }
  }

  &__content {
    z-index: 2;
    padding: 0 0 var(--gap);
    width: 100%;

    @media (--viewport-md) {
      padding: 0 var(--gap) 0 0;
      min-width: 30%;
      flex: 1;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    /* group 1 */
    .tag-ishchu-rabotu,
    .tag-rabota-v-komandie,
    .tag-rabota-v-ofisie,
    .tag-rabota-i-siemia,
    .tag-applicants,
    .tag-chieloviek-diela {
      background-color: #cd8cff !important;
      color: #222222 !important;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #cd8cff !important;
      }
    }

    /* group 2 */
    .tag-employers,
    .tag-biznies,
    .tag-ishchu-sotrudnika,
    .tag-rukovodstvo {
      background-color: #ffe000 !important;
      color: #222222 !important;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #ffe000 !important;
      }
    }

    /* group 3 */
    .tag-diekriet,
    .tag-rieziumie,
    .tag-sobiesiedovaniie,
    .tag-uvolnieniie,
    .tag-udalionka,
    .tag-frilans {
      background-color: #ff84a9 !important;
      color: #222222 !important;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #ff84a9 !important;
      }
    }

    /* group 4 */
    .tag-kariernyie-soviety,
    .tag-obrazovaniie,
    .tag-poliezno,
    .tag-cases,
    .tag-students,
    .tag-otduh-i-razvlechenia {
      background-color: #57ee81 !important;
      color: #222222 !important;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #57ee81 !important;
      }
    }

    /* group 5 */
    .tag-zakony-i-pravo,
    .tag-krughlyi-stol,
    .tag-interview,
    .tag-novosti,
    .tag-sovetu-po-rabote {
      background-color: #70d6ff !important;
      color: #222222 !important;
      border: 1px solid transparent !important;
      border-radius: 99px !important;
      padding: 0.15em 1em !important;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #70d6ff !important;
      }
    }
  }

  &__tag {
    padding: 0.15em var(--gap-sm);
    font-size: calc(0.8 * var(--font-size-base));
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-text-accent-3);
    border-radius: var(--global-radius);
    border: 1px solid var(--color-text-accent-3);
    margin-right: 15px;

    @mixin attention {
      color: var(--color-primary);
      border-color: var(--color-primary);
    }

    &.public {
      display: none;
    }
  }

  &__featured {
    margin-left: var(--gap-sm);
    padding: var(--gap-xs);
    color: var(--color-secondary);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    margin-right: 15px;
  }

  &__title {
    color: var(--color-text-accent-1);
    font-weight: var(--font-weight-extra-bold);

    @media (--viewport-md) {
      font-size: calc(2 * var(--font-size-base));
    }

    @media (--viewport-lg) {
      font-size: calc(2.4 * var(--font-size-base));
    }
  }

  &__footer {
    display: flex;
    margin-bottom: var(--gap);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__date {
    color: var(--color-text-accent-3);
    font-size: calc(0.9 * var(--font-size-base));
  }

  &__read-time {
    margin-left: var(--gap);
    color: var(--color-text-accent-3);
  }

  &__details {
    display: flex;
  }
}

.post {
  &__feedback-form {
    background-color: var(--color-bg-accent-1);
    display: flex;
    flex-direction: column;
    padding: 32px;
    text-align: center;
    margin-bottom: 32px;
    border-radius: 26px;
  }

  &__feedback-form-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.025em;
    text-align: center;
    margin-bottom: 18px;
  }

  &__feedback-form-desc {
    font-family: var(--font-family-secondary);
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 18px;
  }
}
