/* Post Card */
.post-wrap {
  margin-bottom: var(--gap-lg);
}

.latest-post {
  margin-bottom: 0;
  border-radius: var(--global-radius);

  @media (max-width: 767px) {
    margin-right: -1rem;
    margin-left: -1rem;
    margin-bottom: 32px;
    padding-top: 32px;
  }
}

.post-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--global-radius);
  background-color: var(--color-card-light);

  @media (max-width: 767px) {
    border-radius: 26px;
  }

  @media (--viewport-md) {
    flex-direction: row;
    border-radius: 26px;
  }

  .spsecial-bg {
    display: none;
  }

  &.col,
  &.col--main {
    flex-direction: column;

    .post-card__content {

      padding-top: var(--gap);

      @media (max-width: 767px) {
        padding: 16px;
        padding-bottom: 32px;
      }
    }

    .tag {
      display: none;
    }

  }

  &.col--main {
    min-height: 200px;

    .post-card__image {
      display: none;
    }
  }

  &.tag {
    .post-card__header {
      display: none;
    }
  }

  &.no-img {
    height: 100%;

    @media (--viewport-md) {
      border-radius: var(--global-radius);
      border: 1px solid var(--color-border);
    }

    .post-card__content {
      padding-top: 0;

      @media (--viewport-md) {
        padding: var(--gap-lg);
      }
    }
  }

  &__image {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: var(--global-radius);

    @media (max-width: 767px) {
      border-radius: 26px 26px 0 0;
    }


    @media (--viewport-md) {
      border-top-left-radius: 26px;
      border-top-right-radius: 26px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @mixin attention {
      img {
        transform: scale(1.04);
        transition: transform var(--animation-duration) var(--animation-name);
      }
    }

    img {
      width: 100%;
      height: 100%;
      max-height: 256px;
      margin: 0;
      object-fit: cover;
      object-position: center;
      transition: transform var(--animation-duration) var(--animation-name);
    }
  }

  &__content {
    padding-top: var(--gap);
    z-index: 2;

    @media (max-width: 767px) {
      padding: var(--gap);
    }

    @media (--viewport-md) {
      padding-bottom: 32px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap);
  }

  &__featured {
    margin-left: var(--gap-sm);
    padding: var(--gap-xs);
    color: var(--color-secondary);
  }

  &__tag {
    padding: 0.15em var(--gap-sm);
    font-size: calc(0.8 * var(--font-size-base));
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-text-accent-3);
    border-radius: var(--global-radius);
    border: 1px solid var(--color-text-accent-3);

    @mixin attention {
      color: var(--color-primary);
      border-color: var(--color-primary);
    }

    &.public {
      display: none;
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
  }

  &__title {
    color: var(--color-text-accent-1);

    @media (--viewport-md) {
      font-size: calc(1.6 * var(--font-size-base));
    }

    a {
      @mixin attention {
        color: var(--color-primary);
      }
    }
  }

  &__footer {
    display: flex;
    margin-bottom: var(--gap);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__date {
    color: var(--color-text-accent-3);
    font-size: calc(0.9 * var(--font-size-base));
    font-family: var(--font-family-secondary);
  }

  &__read-time {
    margin-left: var(--gap);
    color: var(--color-text-accent-3);
  }

  &__excerpt {
    margin-top: var(--gap);
    color: var(--color-text-accent-3);
  }

  &__details {
    display: flex;
  }
}

.post-card--special,
.post-card--main {
  &.no-img {
    justify-content: flex-end;

    .special-bg {
      display: none;
    }

    .post-card__title,
    .post-card__excerpt {
      @media (--viewport-md) {
        max-width: 50vw;
      }

      @media (max-width: 767px) {
        text-overflow: ellipsis;
      }
    }
  }

  @media (max-width: 767px) {
    padding: var(--gap);
  }

  .post-card__details {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.post-card__title {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  line-height: calc(var(--line-height-base) * 0.85);
}

.post-card--special,
.post-card--main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
  height: 100%;
  max-height: 565px;

  @media (min-width: 767px) {
    max-height: 652px;
  }

  @media (min-width: 808px) {
    max-height: 622px;
  }

  @media (min-width: 970px) {
    max-height: 645px;
  }

  @media (min-width: 1161px) {
    max-height: 620px;
  }

  @media (min-width: 1224px) {
    max-height: 588px;
  }

  @media (min-width: 1260px) {
    max-height: 560px;
  }



  @mixin attention {
    .special-bg {
      left: 5%;
      border-radius: 55% 45% 45% 55%/55% 55% 45% 45%;
      transition: border-radius var(--animation-duration-lg) var(--animation-name),
        left var(--animation-duration-lg) var(--animation-name);
    }
  }

  @media (--viewport-md) {
    align-items: center;
  }

  @media (max-width: 767px) {
    padding: 0;
  }

  .post-card__image {
    flex: 3;
  }

  img {
    max-height: 100%;
  }

  .post-card__content {
    padding-right: var(--gap);

    @media (--viewport-md) {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 767px) {
      padding-left: 16px;
    }
  }

  .post-card__title {
    font-weight: var(--font-weight-extra-bold);

    @media (--viewport-md) {
      font-size: calc(2 * var(--font-size-base));
    }

    @media (--viewport-lg) {
      font-size: 22px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  .post-card__header {
    @media (max-width: 767px) {
      display: none;
    }

    &--special {
      display: inline;
    }

    &--tag {
      display: block;
    }
  }
}

.post-card--main {
  .post-card__content {

    flex: 0 1 auto;
    max-width: 100%;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 270px;
    padding: 32px 32px;

    .post-card__header {
      margin: 0 !important;
    }

    .post-card__title {
      color: var(--color-text-accent-1);
      font-size: 2.3rem;
      font-weight: 700;
      line-height: 49.4px;
      margin: 0 !important;
    }
  }
}

.sidebar__section,
.post-card__content,
.swiper-slide {

  /* group 1 */
  .tag-ishchu-rabotu,
  .tag-rabota-v-komandie,
  .tag-rabota-v-ofisie,
  .tag-rabota-i-siemia,
  .tag-applicants,
  .tag-stazhior,
  .tag-chieloviek-diela {
    background-color: #cd8cff !important;
    color: #222222 !important;
    border: 1px solid transparent !important;
    border-radius: 99px !important;
    padding: 0.15em 1em !important;

    &:hover {
      background-color: transparent !important;
      border: 1px solid #CD8CFF !important;
    }
  }

  /* group 2 */
  .tag-employers,
  .tag-biznies,
  .tag-ishchu-sotrudnika,
  .tag-rukovodstvo {
    background-color: #ffe000 !important;
    color: #222222 !important;
    border: 1px solid transparent !important;
    border-radius: 99px !important;
    padding: 0.15em 1em !important;

    &:hover {
      background-color: transparent !important;
      border: 1px solid #ffe000 !important;
    }
  }

  /* group 3 */
  .tag-diekriet,
  .tag-rieziumie,
  .tag-sobiesiedovaniie,
  .tag-uvolnieniie,
  .tag-udalionka,
  .tag-frilans {
    background-color: #ff84a9 !important;
    color: #222222 !important;
    border: 1px solid transparent !important;
    border-radius: 99px !important;
    padding: 0.15em 1em !important;

    &:hover {
      background-color: transparent !important;
      border: 1px solid #ff84a9 !important;
    }
  }

  /* group 4 */
  .tag-kariernyie-soviety,
  .tag-obrazovaniie,
  .tag-poliezno,
  .tag-students,
  .tag-special,
  .tag-u-mienia-vykhodnoi {
    background-color: #57ee81 !important;
    color: #222222 !important;
    border: 1px solid transparent !important;
    border-radius: 99px !important;
    padding: 0.15em 1em !important;

    &:hover {
      background-color: transparent !important;
      border: 1px solid #57ee81 !important;
    }
  }

  /* group 5 */
  .tag-zakony-i-pravo,
  .tag-webinar,
  .tag-interview,
  .tag-novosti,
  .tag-faq {
    background-color: #70d6ff !important;
    color: #222222 !important;
    border: 1px solid transparent !important;
    border-radius: 99px !important;
    padding: 0.15em 1em !important;

    &:hover {
      background-color: transparent !important;
      border: 1px solid #70d6ff !important;
    }
  }

  .swiper {
    .post-card__image {

      &>img {
        @media (max-width: 767px) {
          height: 196px;
        }
      }
    }
  }
}