.share-button {
  position: fixed;
  bottom: 20px;
  left: 16px;
  z-index: 999;
  display: flex;
  align-items: flex-end;

  &>img {
    padding-right: 8px;
    height: 46px;
  }

  &__socials {
    display: flex;
    align-items: baseline;

    &>a {
      padding-right: 8px;
      height: 36px
    }

    img {
      width: 46px;
      height: 46px;
    }
  }
}