/* Sidebar */
.sidebar {
  height: 100%;

  @media (--viewport-md) {
    margin-top: 30px;
  }

  &__section {
    margin-bottom: var(--gap-lg);
    padding: 32px var(--gap);
    background-color: var(--color-card-light);
    border-radius: 26px;

    .tag {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 8px;
    }
  }

  &__allTags {
    margin-top: 32px;
    display: flex;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--color-bg-input);
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
  }

  &__moreVacancies {
    margin-top: 32px;
    display: flex;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #FFE000;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
  }

  &__vacanciesAction {
    margin-top: 32px;
    margin-bottom: 0px;
    display: flex;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #FFE000 !important;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    cursor: pointer;
    color: var(--color-dark);

    &:focus {
      border: none;
    }
  }

  &__title {
    margin-bottom: 18px;
    text-align: center;
    color: var(--color-text);
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
  }

  &__description {
    color: var(--color-text);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-text);
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

    input {
      background-color: var(--color-bg-input);
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  &__tag {
    display: flex;
    padding: var(--gap-sm) 0;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text-accent-3);

    &:last-of-type { 
      border-bottom: none;
      padding-bottom: 0;
    }

    @mixin attention {
      color: var(--color-primary);
    }

    &-name {
      margin-bottom: 0;
      font-weight: var(--font-weight-semi-bold);
      color: inherit;
      flex: 1;
    }

    &-count { 
      font-weight: var(--font-weight-semi-bold); 
      color: inherit;
    }
  }

  &-ad {
    display: flex;
    align-items: center;
    justify-content: center;

    img { 
      margin: 0; 
      width: 300px;
      height: 250px;
      object-fit: cover;
      object-position: center;
    }
  }

  .social-links {
    justify-content: center;
    align-content: center;
    /* margin-bottom: var(--gap-sm); */

    p { display: none; }
  }

  &__story {
    display: flex;
    margin-bottom: var(--gap);
    min-height: calc(4 * var(--gap-rem));

    &:last-of-type {
      margin-bottom: 0;
    }
  
    &-title {
      font-weight: var(--font-weight-semi-bold);
      font-size: calc(0.9 * var(--font-size-base));
      color: var(--color-text-accent-2);
      flex: 1;
      padding-right: var(--gap);
      margin: 0;

      @mixin attention {
        color: var(--color-primary);
      }
    }

    &-image {
      height: calc(4 * var(--gap-rem));
      width: calc(4 * var(--gap-rem));
      
      img {
        margin: 0;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: var(--global-radius);
      }
    }
  }
}

.privacy-policy {
  display: none;
  
  @media (max-width: 970px) {
    display: block;
  }
}

#findPosition > input[type="submit"]:focus {
  border: none
}

.wrapper-banner-sidebar {
  display: block;
  position: relative;
  height: 426px;
}