/* Tag Card */
.top-tags {
  .tag-card {
    @media (--viewport-xl) {
      margin-bottom: 0;
    }
  }
}

.tag-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 12rem;
  max-height: 12rem;
  border-radius: var(--global-radius) !important;
  background-color: #FBE97B !important;
  overflow: hidden;
  margin-bottom: var(--gap);

  @media (--viewport-sm) {
    margin-bottom: var(--gap-lg);
  }

  @mixin attention {
    &:after {
      opacity: 0.6;
      background-image: linear-gradient(to bottom right, #FDF5C1, #FDF5C1);
    }

    .tag-card__name {
      color: #F7CF4C;
    }

    .tag-card__count {
      color: #F4BB40;
    }
  }

  &:after {
    content: "";
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    background-image: linear-gradient(to bottom right, #FDF5C1, #FDF5C1);
  }

  &__image {
    position: relative;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    object-fit: cover;
    z-index: 0;
  }

  &__name,
  &__count {
    position: absolute;
    z-index: 1;
  }

  &__name {
    font-size: calc(1.2 * var(--font-size-base));
    font-weight: var(--font-weight-semi-bold);
    color: #6B6B6B;
    top: 6rem;
  }

  &__count {
    top: 3.5rem;
    font-size: calc(2 * var(--font-size-base));
    color: #15182B;
    font-weight: var(--font-weight-semi-bold);
  }
}

.tag-header {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row-reverse;
  padding: var(--gap-lg) 0;

  &.no-img {
    border-radius: var(--global-radius);

    .geometric-bg {
      display: none;
    }

    .tag-header__description {
      display: none;
    }

    .tag-header__content {
      padding: 6px 0;
      border-radius: 30px;
      flex-basis: 100%;
    }
  }

  &__image {
    z-index: 2;
    flex: 1 0 auto;
    max-height: 30rem;
    overflow: hidden;
    border-radius: var(--global-radius);

    @media (--viewport-md) {
      flex-basis: 50%;
    }

    img {
      margin: 0;
      min-width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: var(--global-radius);
      min-height: 100%;
      max-height: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    z-index: 3;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 45%;
    padding-top: 0;
    padding-right: var(--gap);

  }

  &__title {
    flex: 1 0 auto;
    margin: 0;
    font-size: 18px;
    font-weight: 600;

    @media (--viewport-md) {
      flex: 0;
    }
  }

  &__description {
    display: none;

    @media (--viewport-md) {
      display: block;
      max-width: 75%;
      margin-bottom: var(--gap);
      text-align: center;
      color: var(--color-text-accent-2);
    }
  }

  &__counter {
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-primary);
  }
}

/* group 1 */
.tag-h-ishchu-rabotu,
.tag-h-rabota-v-komandie,
.tag-h-rabota-v-ofisie,
.tag-h-rabota-i-siemia,
.tag-h-applicants,
.tag-h-chieloviek-diela {
  background-color: #CD8CFF;
}

/* group 2 */
.tag-h-employers,
.tag-h-biznies,
.tag-h-ishchu-sotrudnika,
.tag-h-rukovodstvo {
  background-color: #ffe000;
}

/* group 3 */
.tag-h-diekriet,
.tag-h-rieziumie,
.tag-h-sobiesiedovaniie,
.tag-h-uvolnieniie,
.tag-h-frilans,
.tag-h-udalionka,
.tag-h-frilance {
  background-color: #FF84A9;
}

/* group 4 */
.tag-h-kariernyie-soviety,
.tag-h-obrazovaniie,
.tag-h-poliezno,
.tag-h-students,
.tag-h-otduh-i-razvlechenia {
  background-color: #57EE81;
}

/* group 5 */
.tag-h-zakony-i-pravo,
.tag-h-krughlyi-stol,
.tag-h-interview,
.tag-h-novosti,
.tag-h-sovetu-po-rabote {
  background-color: #70D6FF;
}