.toc {
  &-list {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}

a.toc-link {
  text-decoration: underline;
  padding-bottom: 12px;
  display: block;
  color: var(--color-primary);
  font-size: var(--font-size-text);

  &:hover {
    opacity: 0.8;
  }
}

.post-toc {
  margin: 30px 0 1rem;

  &__head {
    display: flex;
    cursor: pointer;

    @media (--viewport-xl) {
      cursor: initial;
    }
  }
}
